dcase_util==0.2.16
numpy==1.23.5
pandas==1.5.3
pytorch_lightning==1.9.4
pyyaml==6.0
scipy==1.10.1
sed_scores_eval==0.0.0
sed-eval==0.2.1
psds-eval==0.5.3
PyAudio==0.2.13
soundfile==0.12.1
torch==1.13.1
torchaudio==0.13.1
torchinfo==1.8.0
torchsummary==1.5.1
dvc==3.27.0
dvc-data==2.18.2
dvc-http==2.30.2
dvc-objects==1.0.1
dvc-render==0.6.0
dvc-studio-client==0.15.0
dvc-task==0.3.0
dvclive==3.1.0
