dcase_util==0.2.16
numpy==1.23.5
pandas==1.5.3
pytorch_lightning==1.9.4
pyyaml==6.0
scipy==1.10.1
sed_scores_eval==0.0.0
soundfile==0.12.1
torch==1.13.1
torchaudio==0.13.1
torchinfo==1.8.0
torchsummary==1.5.1
